*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
a{
    text-decoration: none !important;
}
th{
   /* color: #b8b9bb;*/
    color: #9ea4b1;
    font-size: 14px;
    /*font-size: .9rem;*/

}
.td-members img{
    margin: -3px !important;
}
.stats span{
    font-size: 12px;
    font-weight: 600;
    color: black;
   /* color: #b73026;*/
}

.stats span:last-child{

    color: #111010b4;
}

button .mdi{
    font-size: 1.5rem;
}



img{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:0 10px;

}

table .progress{
    height: 10px;
    border-radius: 5px;
 }


/* body */

.body-container {
    display: flex;
    position: relative;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 344px;

}
.sidebar .nav-item .menu-icon{
    margin-right: 10px;
}
/* nav */
/* module nav */
.module-nav {
    margin-top: 12px;
}

.module-nav .txt-dark{
    color: #141414fb;
    font-size: 18px;
}

/* mainbar */
  .main-container {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;

    border-radius: 48px 0 0 0;
    margin-top: .12rem;
    padding-top: 2rem;
}
/* text colors */
.txt-dark{
    color: #101828;
}

.txt-gray{
    /*color: #b1b6c0;*/
    color: rgba(102,112,133,1);
}

.progress_text{
  font-size: 12px;
}

.txt-warning{
    color:#e7c630;
}

.txt-primary{
    color: #3185fc;
}
.txt-success{
    color: #027a48;
}

.txt-danger{
    color: #b73026;
}

/* background color */

.bgc-light{
    background-color: #fcfcfd;
}

.bgc-dark{
    background-color: #101828;
}

.grid-margin{
    border: #e6e6e6 solid 1px;
    padding: .9rem;
}

.grid-margin:first-child{
    border-bottom: #3185fc 3px solid;
    background-color: #eaf3ff;

}


/* cards */
.card{
    background-color: #ffffff;
}

.card-header{
    background-color: #ffffff;
}

/* table */

tr:nth-child(odd) td {
     background-color: rgba(249,250,251,1);
    /*background-color: #f9fafb;*/
   /* background-color: #FFF5F5F5;*/
    /* Set the background color for even rows */
  }

/* button */

.btn-pri{
    /*background-color: #0072bb;*/
    background-color: #0072bb;
    font-size: 12px !important;
    height: 32px;
    width: 120px;
    color: #eaf3ff;
  

}

.btn-sec{
    background-color: #f1f7f4;
    font-size: 12px;
    color: #101828;
    border: #101828 1px solid ;
    margin-left: 8px;
}

.btn-suc{
    background-color: #29ec8a46;
    border-radius: 15px;
    padding: 3px;

}

.btn-action{
    padding: 5px 15px;
    margin-right:20px;
}

.primary_button{
    background-color: #084bf7;
}

.on-track {
    background-color: #047a48;
}

.at-risk {
    background-color: #f0ad4e;
}

.off-track {
    background-color: #d9534f;
}

.on-track-label{
    font-size: 12px;
    color: #047a48;
}

.add-link{
   font-weight: 700;
}

.plus{
    padding-right: 4px;
    font-weight: 900;
}

.department-tag{
  border-radius: 10px;
  padding: 5px;
 background: #eceff3;
 font-size: .4 rem;
 margin-right: 5px;
 /*margin: 0 !important;*/
}


.nav {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.nav .nav-item{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1.6rem  .4rem;

}

.nav .nav-item .txt-light{
    color: #b8b9bb;

}

.grid-margin h4{
    font-size: 1rem !important;
    font-weight: 800 !important;

}

.grid-margin h5{
    font-size: .9rem;
    font-weight: 800;
}

.grid-margin h6{
    font-size: 2rem;
    font-weight: 600;

}



.welcome h1{
    font-size: 2rem;
    font-weight: 800;

}

.welcome h3{

    font-size: 1.8 rem;
    font-weight: 400;
    padding-top: .2rem;

}

.welcome h4{

    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 1rem;

}

.active-period{
    margin-left: 25px;
    font-weight: 400;
    font-size: 14px;
}
/* .mdi-email{
    font-size: 2rem !important;
} */
input{
   padding: 15px !important;
}

.active_status_container{
    background-color: #e6f8ef;
    align-items: center;
    border-radius: 16px;
}

.table_text{
    font-size: 12px;
}


.member_image{
    width: 35px;
    margin-left: -10px;
    height: 35px;
    border-radius: 50%;
    background-color: #f3f4f7;
    border-color: 1px solid #979da9;
    /*background-color: #d3d3d3;*/
    /*border-color: 1px solid white;*/
}

.member_image_plus{
    width: 35px;
    margin-left: -10px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff7df;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
}

.profile_image{
    width: 35px;
    margin-left: -10px;
    height: 35px;
    border-radius: 50%;
    background-color: #f3f4f7;
    border-color: 1px solid #979da9;
    /*background-color: #d3d3d3;*/
    /*border-color: 1px solid white;*/
}


.member_image_text{
    color:#f8b925;
    font-size: 11px;
    margin: auto;
    

}

.purple_container{
    background-color:rgba(234,243,255,1);
    border-radius: 24px;
}

.active_status_text{
    color: #097c4d;
    padding: 6px;
    align-self: center;
    font-size: 12px;
}

.container-overflow_wrapper{
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    height: 60px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field {
    background: transparent;
    border: none;
    text-align: center;
    padding: 8px 12px;
    padding-left: 32px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.384);
    border-radius: 8px;
}

.mdi-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 24px;
}

.top-header h2{
    font-size: 2rem;
    font-weight: 600;

}

.top-header p{
    /*font-size: 1.3rem;*/
    font-size: 18px;
}

/* configurations */
.configs .card-body h5{
    font-size: 1.2rem;
    font-weight: 600;
}

.configs .card-body span{
    font-size: 1rem;
    font-weight: 900;
}

.configs .col-9 h2{
    font-size: 1.2rem;
    font-weight: 600;

}

.configs .col-9 p{
    font-size: 1.1rem;
    font-weight: 300;

}

.profile-edit img{
    width: 100px;
    height: auto;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.btn-pri:hover {
    background-color:  #0072bb;

  }

  .btn-pri{
    padding: 1px 5px !important;
  }

  .nav-item .menu-icon {
    color: #b8b9bb;
}

.nav-item .menu-title {
    color: #b8b9bb;
    font-size: 20px;
}

.nav-item .active .menu-icon {
    color: rgba(250, 250, 22, 0.979);
}

.subtitle_text{
    color: #9ea4b1;
    font-weight: 300; 
    font-size: 14px;
}



/* Add media queries for medium devices */
@media screen and (max-width: 768px) {
    .body-container {
      flex-direction: column;
    }
    .sidebar {
      width: 100%;
    }
    .main-container {
      width: 100%;
      border-radius: 0;
      margin-top: 0;
    }
  }

  /* Add media queries for small devices */
  @media screen and (max-width: 576px) {
    .nav .nav-item {
      font-size: 1.2rem;
      margin: 1.2rem  .4rem;
    }

    /* Adjust the font size and padding for input fields on small devices */
    .input-field {
      font-size: 14px;
      padding: 6px 10px;
    }

    /* Adjust the font size for top header elements on small devices */
    .top-header h2 {
      font-size: 1.8rem;
    }
    .top-header p {
      font-size: 1.1rem;
    }
  }

  /* Add media queries for extra small devices (e.g., smartphones) */
  @media screen and (max-width: 375px) {
    /* Further adjust the font size for input fields on extra small devices */
    .input-field {
      font-size: 12px;
    }

    /* Further adjust the font size for top header elements on extra small devices */
    .top-header h2 {
      font-size: 1.6rem;
    }
    .top-header p {
      font-size: 1rem;
    }
  }

